<div class="container">
  <div class="row">
    <div class="col">
      <h3>タグ一覧ページ</h3>
    </div>
  </div>

  <div class="row">
    <% @tags.each do |all_tag|%>
      <div class="col-lg-1 d-flex flex-wrap">
        <%= link_to customers_tag_show_path(all_tag.id) do %>
          <p>#<%= all_tag.tag %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
