<div class="container">
  <div class="row my-3">
    <h3>タグ検索結果</h3>
  </div>

  <div class="row">
    <div class="col">
      <%= render partial: 'customers/members/post', collection: @posts %>
    </div>
  </div>
</div>